<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onlearn Landing Page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="header-decoration"></div>

    <header class="header">
        <div class="container">
            <div class="logo">
<!--                <img src="path_to_logo.png" alt="Onlearn Logo">-->
                <span class="logo-text">onlearn</span>
            </div>
            <nav class="nav">
                <a href="#">Главная</a>
                <a href="#">Карьера</a>
                <a href="#">Блог</a>
                <a href="#">О нас</a>
            </nav>
            <div class="auth-buttons">
                <button class="login-btn">ВОЙТИ</button>
                <button class="signup-btn">РЕГИСТРАЦИЯ</button>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Найди свой следующий курс</h1>

                    <div class="search-box">
                        <input type="text" placeholder="Искать 200,000 курсов...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>

                    <p class="browse-text">Или выберите по теме или университету <a href="#">Подробнее</a></p>

                    <div class="categories">
                        <span class="category-label">Популярные курсы:</span>
                        <a href="#" class="category">Программирование</a>
                        <a href="#" class="category">Дизайн</a>
                        <a href="#" class="category">Бизнес</a>
                        <a href="#" class="category">Наука</a>
                        <a href="#" class="category">Языки</a>
                        <a href="#" class="category">Google</a>
                        <a href="#" class="category">MIT</a>
                        <a href="#" class="category">Stanford</a>
                        <a href="#" class="category">Amazon</a>
                        <a href="#" class="category">Free Certificates</a>
                        <a href="#" class="category">Computer Science</a>
                    </div>
                </div>
                <div class="info-box">
                    <div class="icon">
                        <img src="images/calendar_icon.png" alt="Calendar Icon">
                    </div>
                    <div class="info-text">
                        <span class="info-number">250k</span>
                        <span class="info-label">студентов уже с нами</span>
                    </div>
                </div>
                <div class="hero-image">
                    <img src="images/happy_student.png" alt="Happy Student">
                </div>
                <div class="icon-box">
                    <div class="inner-icon">
                    <svg width="149" height="149" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_2_7226)">
                    <rect x="40" y="32" width="69" height="69" rx="14" fill="#FD661F"/>
                    <rect x="40" y="32" width="69" height="69" rx="14" stroke="#FD661F"/>
                    </g>
                    <rect x="51.8501" y="44.575" width="46.3" height="43.85" rx="7.5" fill="white" stroke="#FD661F"/>
                    <path d="M74.5 54.425V78.575" stroke="#FD661F" stroke-width="4" stroke-linecap="round"/>
                    <path d="M65.875 58.7375L65.875 78.575" stroke="#FD661F" stroke-width="4" stroke-linecap="round"/>
                    <path d="M83.125 63.9125V78.575" stroke="#FD661F" stroke-width="4" stroke-linecap="round"/>
                    <defs>
                    <filter id="filter0_d_2_7226" x="0" y="0" width="149" height="149" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="8"/>
                    <feGaussianBlur stdDeviation="20"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.825 0 0 0 0 0.300438 0 0 0 0 0.396718 0 0 0 0.26 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_7226"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_7226" result="shape"/>
                    </filter>
                    </defs>
                    </svg>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="popular-courses">
        <div class="container-popular-courses">
            <h2>Popular Courses</h2>
            <div class="filter-buttons">
                <button class="active">All Programme</button>
                <button>UI/UX Design</button>
                <button>Program Design</button>
                <button>Program Design</button>
                <button>Program Design</button>
                <button>Program Design</button>
                <!-- Добавьте остальные кнопки фильтра здесь -->
            </div>
            <div class="courses-grid">
                <div class="course-card">
                    <img src="images/course1.png" alt="Course Image">
                    <div class="course-info">
<!--                        <div class="course-students">-->
<!--                            <img src="user1.png" alt="User">-->
<!--                            <img src="user2.png" alt="User">-->
<!--                            <img src="user3.png" alt="User">-->
<!--                            <span>+ 40 students</span>-->
<!--                        </div>-->
                        <h3>Product Management Basic - Course</h3>
                        <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>

                        <div class="price-enroll" style="display: flex; margin-top: 45px;">
                            <div class="course-price">
                                <span class="new-price">$380</span>
                                <span class="old-price">$500</span>
                            </div>
                            <button class="enroll-btn">Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="course-card">
                    <img src="images/course2.png" alt="Course Image">
                    <div class="course-info">
<!--                        <div class="course-students">-->
<!--                            <img src="user1.png" alt="User">-->
<!--                            <img src="user2.png" alt="User">-->
<!--                            <img src="user3.png" alt="User">-->
<!--                            <span>+ 40 students</span>-->
<!--                        </div>-->
                        <h3>BM Data Science Professional Certificate</h3>
                        <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>

                        <div class="price-enroll" style="display: flex; margin-top: 45px;">
                            <div class="course-price">
                                <span class="new-price">$380</span>
                                <span class="old-price">$500</span>
                            </div>
                            <button class="enroll-btn">Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="course-card">
                    <img src="images/course3.png" alt="Course Image">
                    <div class="course-info">
<!--                        <div class="course-students">-->
<!--                            <img src="user1.png" alt="User">-->
<!--                            <img src="user2.png" alt="User">-->
<!--                            <img src="user3.png" alt="User">-->
<!--                            <span>+ 40 students</span>-->
<!--                        </div>-->
                        <h3>The Science of Well-Being</h3>
                        <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>

                        <div class="price-enroll" style="display: flex; margin-top: 45px;">
                            <div class="course-price">
                                <span class="new-price">$380</span>
                                <span class="old-price">$500</span>
                            </div>
                            <button class="enroll-btn">Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="course-card">
                    <img src="images/course4.png" alt="Course Image">
                    <div class="course-info">
<!--                        <div class="course-students">-->
<!--                            <img src="user1.png" alt="User">-->
<!--                            <img src="user2.png" alt="User">-->
<!--                            <img src="user3.png" alt="User">-->
<!--                            <span>+ 40 students</span>-->
<!--                        </div>-->
                        <h3>Python for Everybody Specialization</h3>
                        <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>

                        <div class="price-enroll" style="display: flex; margin-top: 45px;">
                            <div class="course-price">
                                <span class="new-price">$380</span>
                                <span class="old-price">$500</span>
                            </div>
                            <button class="enroll-btn">Enroll Now</button>
                        </div>
                    </div>
                </div>
                <!-- Добавьте остальные карточки курсов здесь -->
            </div>
        </div>
    </section>

<!--    <section class="courses-category">-->
<!--        <div class="container-courses-category">-->
<!--            <h2>Courses Category</h2>-->
<!--            <p class="category-description">-->
<!--                Onlearning is one powerful online software suite that combines all the tools needed to run a successful school or office.-->
<!--            </p>-->
<!--            <div class="categories-grid">-->
<!--                <div class="category-card" onmouseover="changeText(this)" onmouseout="resetText(this)">-->
<!--                    <img src="python.png" alt="Beauty">-->
<!--                    <h3>Python</h3>-->
<!--                    <p>One powerful online software suite that combines</p>-->
<!--                    <button class="more-btn">more</button>-->
<!--                </div>-->
<!--                <div class="category-card" onmouseover="changeText(this)" onmouseout="resetText(this)">-->
<!--                    <img src="java.png" alt="Medical">-->
<!--                    <h3>Java</h3>-->
<!--                    <p>One powerful online software suite that combines</p>-->
<!--                    <button class="more-btn">more</button>-->
<!--                </div>-->
<!--                <div class="category-card" onmouseover="changeText(this)" onmouseout="resetText(this)">-->
<!--                    <img src="golang.png" alt="Sports">-->
<!--                    <h3>Golang</h3>-->
<!--                    <p>One powerful online software suite that combines</p>-->
<!--                    <button class="more-btn">more</button>-->
<!--                </div>-->
<!--                <div class="category-card" onmouseover="changeText(this)" onmouseout="resetText(this)">-->
<!--                    <img src="cplusplus.png" alt="Nutrition">-->
<!--                    <h3>C++</h3>-->
<!--                    <p>One powerful online software suite that combines</p>-->
<!--                    <button class="more-btn">more</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="view-all-btn">View all</button>-->
<!--        </div>-->
<!--    </section>-->

    <section class="partners">
        <div class="partners-container">
            <div class="partners-column">
                <h3>1200+ Университетов</h3>
                <ul class="partners-list">
                    <li><img src="images/harvard.png" alt="Harvard University"> Harvard University</li>
                    <li><img src="images/stanford.png" alt="Stanford University"> Stanford University</li>
                    <li><img src="images/mit.png" alt="MIT"> MIT</li>
                    <li><img src="images/duke.png" alt="Duke University"> Duke University</li>
                    <li><img src="images/columbia.png" alt="Columbia"> Columbia University</li>
                    <li><img src="images/cornell.png" alt="Cornell"> Cornell University</li>
                    <li><img src="images/nazarbayev.png" alt="Nazarbayev"> Nazarbayev University</li>
                    <li><img src="images/satbayev.png" alt="Satbayev"> Satbayev University</li>
                    <li><img src="images/kbtu.png" alt="KBTU"> KBTU</li>
                    <!-- Добавьте другие университеты -->
                </ul>
                <button class="browse-button">Browse universities &gt;</button>
            </div>
            <div class="partners-column">
                <h3>80 Провайдеров</h3>
                <ul class="partners-list">
                    <li><img src="images/stepik.png" alt="Stepik"> Stepik</li>
                    <li><img src="images/coursera.png" alt="Coursera"> Coursera</li>
                    <li><img src="images/edx.png" alt="edX"> edX</li>
                    <li><img src="images/udemy.png" alt="Udemy"> Udemy</li>
                    <li><img src="images/linkedin.png" alt="LinkedIn"> LinkedIn Learning</li>
                    <!-- Добавьте других провайдеров -->
                </ul>
                <button class="browse-button">Browse providers &gt;</button>
            </div>
            <div class="partners-column">
                <h3>1000+ Компаний</h3>
                <ul class="partners-list">
                    <li><img src="images/google.png" alt="Google"> Google</li>
                    <li><img src="images/amazon.png" alt="Amazon"> Amazon</li>
                    <li><img src="images/microsoft.png" alt="Microsoft"> Microsoft</li>
                    <li><img src="images/ibm.png" alt="IBM"> IBM</li>
                    <li><img src="images/kaspi.png" alt="Kaspi"> Kaspi</li>
                </ul>
                <button class="browse-button">Browse institutions &gt;</button>
            </div>
        </div>
    </section>


    <section class="exclusive-bundles">
        <div class="container-exclusive-bundles">
            <h2>Exclusive Bundles</h2>
            <p>Onlearning is one powerful online software suite that combines all the tools needed to run a successful school or office.</p>
            <div class="carousel">
                <div class="carousel-item active">
                    <div class="exclusive-course-card">
                        <img src="images/python-exclusive.png" alt="Python Course">
                        <div class="price-tag">
                            $380
                            <span class="old-price">$500</span>
                        </div>

                        <div class="exclusive-course-info">
                            <h3>Product Management Basic - Course</h3>
                            <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>
                            <div class="exclusive-course-students">
                                <img src="images/user1.png" alt="User 1">
                                <img src="images/user2.png" alt="User 2">
                                <img src="images/user3.png" alt="User 3">
                                <span>+ 40 students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="exclusive-course-card">
                        <img src="images/python-exclusive.png" alt="Python Course">
                        <div class="price-tag">
                            $380
                            <span class="old-price">$500</span>
                        </div>

                        <div class="exclusive-course-info">
                            <h3>Product Management Basic - Course</h3>
                            <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>
                            <div class="exclusive-course-students">
                                <img src="images/user1.png" alt="User 1">
                                <img src="images/user2.png" alt="User 2">
                                <img src="images/user3.png" alt="User 3">
                                <span>+ 40 students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="exclusive-course-card">
                        <img src="images/python-exclusive.png" alt="Python Course">
                        <div class="price-tag">
                            $380
                            <span class="old-price">$500</span>
                        </div>
                        <div class="exclusive-course-info">
                            <h3>Product Management Basic - Course</h3>
                            <p>Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</p>
                            <div class="exclusive-course-students">
                                <img src="images/user1.png" alt="User 1">
                                <img src="images/user2.png" alt="User 2">
                                <img src="images/user3.png" alt="User 3">
                                <span>+ 40 students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional carousel items -->
            </div>
            <div class="carousel-indicators">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-footer">
            <div class="footer-column">
                <div class="footer-logo">
                    <span class="logo-text">onlearn</span>
                </div>
                <div class="contact-info">
                    <p><i class="fas fa-map-marker-alt"></i> Address: Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    <p><i class="fas fa-phone-alt"></i> Tel: +9229341037</p>
                    <p><i class="fas fa-clock"></i> Response hours: 8 to 20</p>
                    <p><i class="fas fa-envelope"></i> Email: info@onlearn.com</p>
                </div>
            </div>
            <div class="footer-column" style="margin-left: 200px; padding-bottom: 20px;">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Counseling</a></li>
                    <li><a href="#">Health and fitness</a></li>
                    <li><a href="#">Individual development</a></li>
                    <li><a href="#">More</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Links</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Stay up to date with the latest courses</h4>
                <form class="newsletter-form">
                    <input type="email" placeholder="Email" required>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </footer>

    <script>
        function changeText(card) {
            const button = card.querySelector('.more-btn');
            button.textContent = 'Explore courses';
        }

        function resetText(card) {
            const button = card.querySelector('.more-btn');
            button.textContent = 'more';
        }
    </script>

</body>
</html>
